
.page{
    display: flex;
    align-items: center;
    height: 100vh;
}

 .img{
 border: 5px solid #63A46c;
 border-radius: 50px;
 height: 45%;
 width: 45%;
}

.btn{
    border : 1px solid#000;
}

.text0{
    font-size: 1.3rem;

    
}


@media screen and (max-width:600px){
    .aboutus{
        background-color: #63A46c;
        
    }


.page{
    display: flex;
    align-items: center;
    height: 100vh;
}

 .img{
 border: 5px solid #63A46c;
 border-radius: 50px;
 height: 45%;
 width: 45%;
}

.btn{
    border : 1px solid#000;
}

.text0{
    font-size: 1rem;

    
}
}