/* Footer */
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  
  .footer-logo {
    font-size: var(--h3-font-size);
    color:#63a46c;
    font-weight: 600;
  }

  .footer-logo:hover {
    color:#3d7044;
  }
  
  .footer-description {
    display: block;
    font-size: var(--small-font-size);
    margin: 0.25rem 0 1.5rem;
  }
  
  .footer-social {
    font-size: 1.5rem;
    color: #63a46c;
    margin-right: 1rem;
  }

  .footer-social:hover {
    color: #3d7044;
  }
  
  .footer-title {
    font-size: var(--h2-font-size);
    color: #3d7044;
    margin-bottom: 1rem;
  }
  
  .footer-link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
  
  .footer-link:hover {
    color: #3d7044;
  }
  
  .footer-copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-colo-light);
    margin-top: 3.5rem;
  }